@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:wght@100;400;500;700;900&display=swap");
:root {
  --logo: #00be7b;
  --dark: #3291eb;
  --medium: #0f7be4;
  --solid: #0662ba;
  --light: #c9f5e6;
  --yellow: #ffc300;
  --orange: #ff5300;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Poiret One", sans-serif;
  font-size: 2.6rem;
  line-height: 1.5;
  color: var(--solid);
  background-color: #fff;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
h2,
h3,
h4 {
  font-weight: 500;
}
.container {
  max-width: 160 rem;
  padding: 0 1rem;
  margin: 0 auto;
}
/* ==========Header=============== */

.header {
  max-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
      to right,
      rgba(116, 235, 213, 0.6),
      rgba(172, 182, 229, 0.3)
    ),
    url("../img/banner.jpg") center/cover no-repeat fixed;
  position: relative;
  z-index: 100;
}
.header::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: -1;
}
/* =============Navigation=============== */

.navigation {
  position: fixed;
  width: 100%;
  padding: 1.5rem 0;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #8af6d1;
}
.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #8af6d1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.nav-center .nav-hamburger {
  display: none;
  cursor: pointer;
}
.nav-menu .menu-top {
  display: none;
  cursor: pointer;
}
.nav-center {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}
.nav-header .nav-logo h1 {
  font-size: 4rem;
  font-weight: 100;
  color: var(--logo);
}
.fix-nav .nav-logo h1 {
  color: #4ef0b7;
}
.nav-header .nav-logo h1 span {
  color: #fff;
}

.nav-icons img {
  width: 3rem;
}
.nav-menu {
  width: 65vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu .nav-list {
  display: flex;
  justify-content: space-between;
  padding: 0 15rem;
}

.nav-list {
  padding-right: 12rem;
}
.nav-list .nav-item:not(:last-child) {
  margin-right: 0.5rem;
}
.nav-item .nav-link:link,
.nav-item .nav-link:visited {
  display: inline-block;
  padding: 1.4rem;
  color: #fff;
  font-weight: 100;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

.fix-nav .nav-item .nav-link:link,
.fix-nav .nav-item .nav-link:visited {
  color: var(--solid);
}
.nav-item .nav-link:hover {
  color: #0662ba;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* .fix-nav .nav-item .nav-link:hover {
  color: #00be7b;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

.nav-menu .nav-item:last-child .nav-link {
  background-color: #4ef0b7;
  border-radius: 5rem;
  padding: 0.6rem 3rem;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease;
}
.nav-menu .nav-item:last-child .nav-link:hover {
  background-color: #3291eb;
  color: #fff;
}
.nav-icons {
  display: flex;
  align-items: center;
}
.nav-icons .icon-item {
  padding: 1.2rem;
}
.nav-icons .icon-item:last-child img {
  width: 2rem;
  height: 2rem;
}
.nav-icons .icon-item:last-child {
  position: relative;
  background-color: var(--medium);
  border-radius: 80%;
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.nav-icons .icon-item:last-child span {
  position: absolute;
  display: inline-block;
  top: -1rem;
  font-family: "Roboto", sans-serif;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 0.3rem 0.5rem;
  font-size: 1.5rem;
  background-color: #ff5300;
}

/* Hero */
.hero {
  height: 100vh;
  position: relative;
  text-align: center;
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: var(--medium);
}
.navigation.fix-nav .hero .hero-content {
  top: 70%;
}

.hero-content h1 {
  font-size: 8rem;
  font-weight: 900;
  margin-bottom: 5rem;
  font-family: "Roboto", sans-serif;
}

.hero-content h1 span {
  display: block;
  line-height: 1.2;
}

.hero-content h1 span.color {
  display: inline-block;
  color: #00be7b;
}

.btn-hero:link,
.btn-hero:visited {
  display: inline-block;
  color: #0662ba;
  font-weight: bold;
  padding: 1rem 4rem;
  border-radius: 4rem;
  font-size: 2.8rem;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.5s ease;
}
.btn-hero:hover {
  background-color: #fff;
  color: #00be7b;
}
.goto-next {
  position: absolute;
  bottom: 38%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
  animation: bounce 2s linear infinite;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.goto-next img {
  height: 5.8rem;
  width: 5.8rem;
}

.goto-next span {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes bounce {
  0% {
    bottom: 20%;
  }
  50% {
    bottom: 13%;
  }
  100% {
    bottom: 20%;
  }
}

/* New Arrival Section */

.section {
  padding: 5rem 0;
  background-color: #fff;
}

.arrivals {
  padding: 2rem 0;
}
.title {
  text-align: center;
  margin-bottom: 3rem;
}
.primary-title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
  display: inline-block;
  position: relative;
}

.primary-title::after {
  content: "";
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  margin: 0 auto;
  height: 0.4rem;
  background-color: var(--logo);
}
.arrival-center {
  display: grid;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  margin: 4rem 0;
}
.primary-title {
  color: #0f7be4;
}
.product {
  display: flex;
  flex-direction: column;
  padding: 0 0 2rem 0;
  text-align: center;
  transition: all 0.5s ease;
  border-radius: 2rem;
}
.product .img-container {
  height: 50rem;
  overflow: hidden;
  border-radius: 2rem 2rem 0 0;
}
.product a {
  background-color: #3291eb;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  font-family: "Roboto", sans-serif;
}

.img-container img {
  transition: all 0.5s ease;
  border-radius: 2rem 2rem 0 0;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.product:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: #3291eb;
  color: #fff;
  font-weight: 700;
  transform: translateY(-2rem);
}
.product-bottom h3 {
  margin-bottom: 1rem;
  font-size: 3rem;
}
.product-bottom a {
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-bottom a:hover {
  background-color: #fff;
  color: #3291eb;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.product-bottom:hover {
  color: #ffc300;
  font-weight: bold;
}
.rating .fa {
  font-size: 2rem;
  font-weight: 100;
}

/* Cart Slider */

.cart-slide {
  padding-bottom: 15rem;
  background-color: #fff;
  font-weight: 100;
}
.cart-like {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  padding: 1.6rem 1rem;
  height: 100vh;
}
.image-holder {
  width: 100%;
  text-align: center;
}

.image-holder img {
  width: 60rem;
  height: 70rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cart-details h1 {
  font-size: 5rem;
  font-weight: 100;
  color: #00be7b;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}
.cart-details p {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-right: 10rem;
}
.cart-details .colors {
  display: flex;
  margin: 2rem 0 2rem 0;
}
.title2 h3 {
  font-family: "Poiret One", sans-serif;
  font-weight: 100;
  color: #00be7b;
  margin-top: 2rem;
  margin-bottom: 0;
}
.cart-details .colors span {
  margin-top: 0.2rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: none;
}
.cart-details .colors span:not(:last-child) {
  margin-right: 2rem;
}

.cart-details .colors span:nth-child(1) {
  background-color: #00be7b;
}
.cart-details .colors span:nth-child(2) {
  background-color: #0662ba;
}
.cart-details .colors span:nth-child(3) {
  background-color: #ff5300;
}
.cart-details .colors span:nth-child(4) {
  background-color: #ffc300;
}
.btn-group {
  margin-top: 7rem;
}
.btn-group button:not(:last-child) {
  margin-right: 15rem;
}
.cart-details .btn-group button {
  display: inline-block;
  width: 20rem;
  padding: 1.5rem;
  font-size: 3rem;
  font-weight: 100;
  color: #0662ba;
  border-radius: 0.5rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: transparent;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.cart-details .btn-group button:last-child {
  background-color: #ff5300;
  font-family: "Poiret One", sans-serif;
  color: #fff;
  font-size: 4rem;
  border-radius: 10rem;
}
.cart-details .btn-group button:first-child:hover {
  background-color: #0662ba;
  color: #fff;
  cursor: pointer;
}

.cart-details .btn-group button:first-child:active {
  transform: translateY(8px);
}
.glide__bullets {
  bottom: -10%;
  text-align: center;
}
.glide__bullets h3 {
  margin-bottom: 2rem;
}
.glide__bullet {
  width: 20rem;
  height: 21rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 0.5rem solid #fff;
}

.cart-details .colors span:not(:last-child) {
  margin-right: 2rem;
}

.glide__bullet:hover {
  transform: scale(1.1);
}

.glide__bullet img {
  object-fit: contain;
}

.glide__arrow {
  background-color: #c8f8e7;
  color: #fff;
  top: 2rem;
  text-transform: none;
  opacity: 0;
  visibility: hidden;
  font-size: 2rem;
  transition: all 0.3s ease;
}
.cart-slide:hover .glide__arrow {
  visibility: visible;
  opacity: 1;
}
.glide__arrow:hover {
  background-color: #00be7b;
}

/* Special Offer */
.special-offer {
  position: relative;
  height: 60rem;
  background: linear-gradient(
      to right,
      rgba(14, 210, 247, 0.7),
      rgba(178, 254, 250, 0.6)
    ),
    url(../img/banner3.jpg) top/cover no-repeat fixed;
}
.special-offer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}
.offer-container {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4ef0b7;
  text-align: center;
}
.offer-container h1 {
  font-size: 9rem;
  letter-spacing: 1rem;
  font-weight: bold;
}
.offer-container p {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 2rem;
  letter-spacing: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.offer-container a {
  display: inline-block;
  padding: 1rem 4rem;
  color: #fff;
  background-color: #00be7b;
  border-radius: 10em;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 0.5s ease;
}
.offer-container a:hover {
  color: #00be7b;
  background-color: #fff;
  letter-spacing: 5px;
}

/* Featured Products */
.featured-center {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem 4rem;
}

/* Blog News */
.blog-container {
  background-color: #fff;
}
.blog {
  background-color: #fff;
  margin-bottom: 5rem;
}
.blog-center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 4rem;
}
.blog-box {
  position: relative;
}

.blog-box h2 {
  font-size: 3rem;
  color: #0662ba;
  font-weight: bold;
  margin-bottom: 1rem;
}
.blog-box a {
  font-size: 3rem;
  color: #0662ba;
  cursor: pointer;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: all 0.5s ease;
}
.blog-box a:hover {
  background-color: #4ef0b7;
  border: 1px solid #4ef0b7;
}
.blog-box a:active {
  transform: translateY(8px);
}

.blog-box .img-cover {
  height: 45rem;
  border-radius: 1rem;
}
.blog-box .img-cover img {
  object-fit: cover;
  height: 45rem;
  width: 100%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.blog-box .img-cover::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.blog-box .box-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  height: 60%;
  padding: 5rem;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  border-radius: 1rem;
}
.blog-box:hover .box-content {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

/* Newsletter */
.newsletter {
  background: #b3ffab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #12fff7,
    #b3ffab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #12fff7,
    #cafac4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.newsletter-center {
  display: grid;
  grid-template-columns: 1fr;
}
.section {
  padding-top: 2rem;
  padding-bottom: 0;
  background-color: #fff;
}
.newsletter-box form {
  width: 100%;
  display: flex;
  align-items: center;
}
.newsletter-box form input {
  width: 40%;
  padding: 1.5rem 0;
  /* margin-right: 0.5rem; */
  text-indent: 1rem;
  border: none;
  outline: none;
}
.newsletter-box input {
  color: #ccc;
}
.newsletter-box form button {
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
  padding: 1rem 3rem;
  background-color: #4ef0b7;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-family: "Poiret One", sans-serif;
  font-size: 2.2rem;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 1px solid #3291eb;
  border: none;
}
.newsletter-box form button:focus {
  outline: none;
}
.newsletter-box form button:hover {
  color: #fff;
  background-color: #3291eb;
}
.newsletter-box form button:active {
  transform: translateY(6px);
}

.newsletter-box1 p {
  font-size: 4rem;
  text-align: center;
}
.newsletter-box1 span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 5rem;
}
.newsletter-box img {
  margin-left: 20rem;
  margin-bottom: -1rem;
}
/* Footer */
.footer {
  background-color: #fff;
  padding: 6rem 1rem;
  line-height: 3rem;
}

.footer-top__box p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  line-height: 2.5;
  font-size: 3rem;
}
.footer-top__box .fas {
  color: #00be7b;
}
.footer-top__box span {
  margin-right: 1rem;
}
.footer__top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-top__box a {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  line-height: 1.5;
  font-size: 3rem;
}
.footer-top__box img {
  width: 35px;
  padding: 1rem 1rem 0 0;
}
.footer-top__box h3 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1rem;
  margin: 1.5rem 0;
  background-color: #0662ba;
  color: #12fff7;
  padding: 1rem 1rem 1rem 1rem;
}
.footer-top__box a:link,
.footer-top__box a:visited {
  padding: 0 0 2rem 2rem;
  display: block;
  color: #00be7b;
  border-left: 1px solid #0662ba;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  background-color: #4ef0b7;
  color: #fff;
  padding: 2rem 0;
  margin-bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 15px 5px 15px;
}
/* =========================================================================
========================================================================= */
@media only screen and (max-width: 1200px) {
  .glide__bullet {
    width: 15rem;
    height: 16rem;
  }
  .image-holder img {
    width: 42rem;
    height: 50rem;
  }
  .cart-details h1 {
    font-size: 3rem;
  }
  .cart-details p {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-right: 7rem;
  }
  .cart-details .ratting {
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 0.2rem;
  }
  .title2 h3 {
    margin: 1rem;
    font-size: 2rem;
  }
  .cart-details .colors {
    margin: 0;
  }
  .cart-details .colors span {
    height: 4rem;
    width: 4rem;
  }
  .btn-group {
    margin-top: 1.5rem;
  }
  .cart-details .btn-group button {
    display: inline-block;
    width: 15rem;
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: 100;
  }
  .cart-details .btn-group button:last-child {
    font-size: 3rem;
  }
  .btn-group button:not(:last-child) {
    margin-right: 5rem;
  }
  .glide__bullets {
    top: 60%;
    text-align: center;
  }
  .glide__bullets {
    display: grid;
    grid-template-columns: repeat(auto, 4, 1fr);
    width: 100%;
  }
  .featured-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 4rem;
  }
}

@media only screen and (max-width: 996px) {
  .container {
    padding: 0 3rem;
  }
  .nav-icons {
    display: none;
  }
  .nav-center {
    grid-template-columns: repeat(2, 1fr);
  }

  .arrival-center {
    grid-template-columns: repeat(2, 1fr);
  }
  @keyframes bounce {
    0% {
      bottom: 10%;
    }
    50% {
      bottom: 3%;
    }
    100% {
      bottom: 10%;
    }
  }
  .glide__bullet {
    width: 15rem;
    height: 16rem;
  }
  .image-holder img {
    width: 38rem;
    height: 40rem;
  }
  .cart-details h1 {
    font-size: 2.5rem;
  }
  .cart-details p {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  .cart-details .ratting {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 0.2rem;
    font-family: "Poiret One", sans-serif;
  }
  .title2 h3 {
    margin: 1rem;
    font-size: 1.8rem;
  }
  .cart-details .colors {
    margin: 0;
  }
  .cart-details .colors span {
    height: 4rem;
    width: 4rem;
  }
  .btn-group {
    margin-top: 1.5rem;
  }
  .cart-details .colors span:not(:last-child) {
    margin-right: 1rem;
  }
  .cart-details .btn-group button {
    display: inline-block;
    width: 12rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 100;
  }
  .cart-details .btn-group button:last-child {
    font-size: 1.9rem;
  }
  .btn-group button:not(:last-child) {
    margin-right: 2rem;
  }
  .glide__bullets {
    top: 75%;
    text-align: center;
  }
  .glide__bullets {
    display: grid;
    grid-template-columns: repeat(auto, 4, 1fr);
    width: 100%;
  }
  .glide {
    height: 60rem;
  }
  .blog-center {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem 4rem;
    padding: 0 3rem;
  }
} /* ======================================================================================
====================================================================================== */
@media only screen and (max-width: 768px) {
  .navigation {
    position: fixed;
    width: 100%;
  }
  .fix-nav .nav-item .nav-link:link,
  .fix-nav .nav-item .nav-link:visited {
    color: var(--solid);
  }
  .nav-menu .menu-top h1 {
    font-weight: 100;
    color: #8af6d1;
  }

  .nav-menu .menu-top span {
    color: #00be7b;
    font-weight: 100;
  }
  .nav-header .nav-logo h1 {
    color: #00be7b;
  }
  .nav-header .nav-logo h1 span {
    color: #fff;
  }

  .header {
    max-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(
        to right,
        rgba(222, 236, 234, 0.7),
        rgba(223, 227, 243, 0.8)
      ),
      url("../img/banner1.jpg") center/cover no-repeat fixed;
    position: relative;
    z-index: 100;
  }

  .navigation {
    background-color: #8af6d1;
  }
  .nav-center {
    grid-template-columns: 1fr;
  }
  .nav-center .nav-hamburger {
    display: block;
  }
  .nav-center .nav-hamburger img {
    width: 5rem;
  }
  .nav-center .nav-hamburger span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .nav-menu {
    position: fixed;
    top: 0;
    left: -50rem;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    transition: all 0.5s ease;
  }
  .nav-menu .menu-top img {
    margin: 1rem 0;
    width: 4rem;
    height: 4rem;
  }
  .nav-menu .menu-top .close-toggle {
    cursor: pointer;
  }
  .nav-menu .menu-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    width: 50rem;
    background-color: #d2e5f6;
  }
  .nav-menu .nav-list {
    background-color: #c9f5e6;
    flex-direction: column;
    width: 50rem;
    margin-top: -1.8rem;
    padding: 4rem 3rem;
    font-size: 4rem;
    height: 100vh;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  }
  .nav-menu .nav-list .nav-item {
    width: 100%;
    transform: all 0.3s ease;
  }
  .nav-list .nav-item .nav-link:link .nav-list .nav-item .nav-link:visited {
    display: block;
    width: 100%;
    font-size: 1.8rem;
    color: #0662ba;
  }
  .nav-list .nav-item .nav-link:last-child:link,
  .nav-list .nav-item .nav-link:last-child:visited {
    display: inline-block;
    padding: 0.2rem 4rem;
  }
  .nav-list .nav-item .nav-link:last-child:hover {
    color: #c9f5e6;
    background-color: var(--medium);
    border-radius: 10rem;
  }
  body.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 70;
  }
  .hero-content h1 span {
    font-size: 5.5rem;
  }
  .arrival-center {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-bottom h3 {
    font-size: 2.5rem;
  }
  .product-bottom .ratting {
    margin-top: 1rem;
  }
  .product-bottom .ratting .fa {
    font-size: 2rem;
    font-weight: 100;
  }
  .product .img-container {
    height: 36rem;
    overflow: hidden;
    border-radius: 2rem 2rem 0 0;
  }
  .glide__bullet {
    width: 15rem;
    height: 16rem;
  }
  .image-holder img {
    width: 20rem;
    height: 25rem;
  }
  .cart-slide {
    padding-bottom: 10rem;
  }
  .cart-details h1 {
    font-size: 2rem;
  }
  .cart-details p {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-right: 2rem;
  }
  .cart-details .ratting {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 0.2rem;
    font-family: "Poiret One", sans-serif;
  }
  .title2 h3 {
    margin: 1rem;
    font-size: 1.8rem;
  }
  .cart-details .colors {
    margin: 0;
  }
  .cart-details .colors span {
    height: 2rem;
    width: 2rem;
  }
  .btn-group {
    margin-top: 1.5rem;
  }
  .cart-details .colors span:not(:last-child) {
    margin-right: 1rem;
  }
  .cart-details .btn-group button {
    display: inline-block;
    width: 12rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 100;
  }
  .cart-details .btn-group button:last-child {
    font-size: 1.5rem;
  }
  .btn-group button:not(:last-child) {
    margin-right: 1rem;
  }
  .glide__bullets {
    top: 70%;
    text-align: center;
  }
  .glide__bullets {
    display: grid;
    grid-template-columns: repeat(auto, 4, 1fr);
    width: 100%;
  }
  .glide {
    height: 70rem;
  }
  .image-holder img {
    width: 33rem;
    height: 41rem;
  }
  .cart-like {
    margin-top: 4rem;
  }
  .glide__arrow {
    top: 2rem;
    font-size: 1.5rem;
  }
  .featured-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 3rem;
  }
  .product img {
    background-color: #fff;
  }
  .blog-center {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem 4rem;
    padding: 0 3rem;
  }
  .newsletter-box img {
    display: none;
  }
  .newsletter-box form {
    width: 100%;
    display: grid;
  }
  .newsletter-box form input {
    width: 80%;
    margin-left: 5rem;

    text-indent: 1rem;
    border: none;
    outline: none;
  }
  .newsletter-box form button {
    width: 30%;
    margin-top: 0.5rem;
    margin-left: 22rem;
  }
  .footer__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .navigation {
    position: fixed;
    width: 100%;
  }
  .nav-menu .nav-list {
    background-color: #8af6d1;
    flex-direction: column;
    width: 30rem;
    margin-top: 0rem;
    padding: 4rem 3rem;
    font-size: 3rem;
    height: 100vh;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  }

  .menu-top .nav-list ul li a {
    color: #00be7b;
  }
  .nav-menu .menu-top h1 {
    right: 2rem;
    color: #00be7b;
    font-weight: 100;
    font-size: 4.5rem;
    background-color: #8af6d1;
  }
  .nav-menu .menu-top h1 span {
    color: #fff;
  }
  .nav-menu .menu-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.4rem 0.5rem;
    width: 35rem;
    background-color: #8af6d1;
    height: 11vh;
    width: 100%;
  }
  .nav-menu .menu-top .close-toggle {
    width: 7rem;
  }
  .nav-menu .menu-top img {
    margin-left: 4rem;
    width: 8rem;
  }
  .nav-center .nav-hamburger img {
    width: 3rem;
  }
  .header {
    background: linear-gradient(
        to right,
        rgba(222, 236, 234, 0.7),
        rgba(223, 227, 243, 0.8)
      ),
      url("../img/banner2.jpg") center/cover no-repeat fixed;
    position: relative;
    z-index: 100;
  }
  .hero-content {
    background: transparent;
  }
  .hero-content h1 span {
    font-size: 3rem;
  }
  .arrival-center {
    grid-template-columns: 1fr;
  }
  .product .img-container {
    height: 37.5rem;
    overflow: hidden;
    border-radius: 2rem 2rem 0 0;
  }
  .product-bottom h3 {
    margin-bottom: 1rem;
    font-size: 2.2rem;
    font-weight: bold;
  }

  .product a {
    font-size: 2rem;
  }
  .product .img-container {
    height: 40rem;
    width: 100%;
  }
  .product .img-container img {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .cart-slide {
    padding-bottom: 28rem;
  }
  .glide__bullets {
    top: 85%;
    text-align: center;
  }
  .glide__bullets {
    display: grid;
    grid-template-columns: repeat(auto, 2, 1fr);
    width: 100%;
  }
  .cart-like {
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
  }

  .image-holder {
    margin-bottom: 2rem;
    width: 97%;
    height: 41rem;
    box-shadow: none;
  }
  .image-holder img {
    width: 99%;
    height: 51rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  .title2 h3 {
    font-size: 2.5rem;
    margin: 0;
  }
  .btn-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 1.5rem 0;
    padding: 1rem 3rem;
  }
  .btn-group button:not(:last-child) {
    margin-right: 0;
  }
  body {
    background-color: #fff;
  }
  .glide__bullet:not(:first-child) {
    margin-right: 1rem;
    margin-top: 1rem;
  }
  .title2 h3 {
    font-size: 2rem;
  }
  .cart-details p {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  .cart-details h1 {
    font-size: 3rem;
  }
  .primary-title {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .cart-details .btn-group button {
    font-weight: bold;
  }
  .cart-details .colors span {
    width: 5rem;
    height: 5rem;
  }
  .glide__slides {
    height: 130vh;
  }
  .glide__bullets {
    top: 80%;
    text-align: center;
  }
  .glide__bullets {
    display: grid;
    grid-template-columns: repeat(auto, 4, 1fr);
    width: 100%;
  }
  .glide {
    height: 115rem;
  }

  .offer-container h1 {
    font-size: 5rem;
  }
  .offer-container p {
    letter-spacing: 0.5rem;
    font-size: 2rem;
  }
  .special-offer {
    position: relative;
    height: 70rem;
    background: linear-gradient(
        to right,
        rgba(14, 210, 247, 0.7),
        rgba(178, 254, 250, 0.6)
      ),
      url(../img/banner33.jpg) top/cover no-repeat fixed;
  }
  .featured-center {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem 6rem;
    padding: 0 3rem;
  }
  .product img {
    background-color: #fff;
  }
  .blog-center {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 3rem 4rem;
    padding: 0 3rem;
  }
  .blog-box h2 {
    font-size: 2rem;
  }
  .blog-box a {
    font-size: 2rem;
  }
  .newsletter-box form {
    display: grid;
    width: 100%;
    grid-row: 1 / span 2;
  }
  .newsletter-box img {
    display: none;
  }
  .newsletter-box {
    display: grid;
    grid-row: 1 / span 2;
  }
  .newsletter-box form input {
    width: 100%;
    text-indent: 1rem;
    border: 1px solid #3291eb;
    outline: none;
  }
  .newsletter-box form {
    display: grid;
    width: 100%;
    grid-row: 1 / span 2;
  }
  .newsletter-box form button {
    width: 50%;
    margin-left: 10rem;
  }
  .newsletter-box form input {
    width: 100%;
    margin-left: 0;
    text-indent: 1rem;
    border: none;
    outline: none;
  }
  .footer__top {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 380px) {
  .product .img-container {
    height: 30rem;
    width: 100%;
  }
  .product .img-container img {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .glide__slides {
    height: 130vh;
  }
  .glide__bullet {
    display: none;
  }

  .glide__bullets {
    display: none;
  }
  .glide {
    height: 115rem;
  }
  .cart-details .colors {
    margin-top: 3rem;
  }
  .btn-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 1.5rem 0;
    padding: 0;
  }
  .primary-title2 {
    display: none;
  }
  .cart-like {
    margin-bottom: 13rem;
  }
  .title2 h3 {
    font-size: 3rem;
  }
  .glide__bullet:not(:first-child) {
    margin-top: 2rem;
  }
  body {
    background-color: #fff;
  }
  .title2 h3 {
    margin: 1rem 0;
    padding: 2rem 0;
  }
  .cart-slide {
    padding: 0;
  }
  .glide {
    height: 100rem;
  }
  .special-offer {
    height: 100vh;
  }
  .newsletter-box img {
    display: none;
  }
  .newsletter-box {
    display: grid;
    grid-row: 1 / span 2;
  }
  .newsletter-center .container {
    display: grid;
    grid-row: 1 / span 2;
    width: 100%;
  }
  .newsletter-box form input {
    width: 100%;
    margin-left: 0;
    text-indent: 1rem;
    border: none;
    outline: none;
  }
  .newsletter-box form button {
    width: 50%;
    margin-left: 8rem;
  }
  .newsletter-box form {
    width: 100%;
    display: grid;
    width: 100%;
    grid-row: 1 / span 2;
  }
}
